/*---------------teams---------------*/
.team {
  background-color: var(--second-background-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

.team__description {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--fone-background-color);
}

.team__list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__list-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
